:root {
  --background-container: #212121;
  --background-color: #151515;
  --color: #ffffff;
}

.Chat-container {
  border-radius: 7px;

}

h1 {
  margin: 10px;
}

.Gemini-ia-container {
  max-height: 720px;
  height: 720px;
  overflow-y: scroll;
}

.message {
  width: calc(400px - 50px);
  background-color: darkred;
  margin: 0 3% 0 0;
  padding: 1%;
  border-radius: 9px;
  text-align: start;
  align-items: center;
}

.Chat-formulary {
  width: 100%;
  text-align: center;
}

.Chat-formulary > .submit-controls {
  padding: 0 3%;
  display: flex;
  bottom: 0;
}

.submit-controls > input,
button {
  background-color: transparent;
  border: none;
  height: 40px;
  align-items: center;
  font-size: 16px;
}

input {
  width: 100%;
  background-color: var(--color);
}

button {
  cursor: pointer;
  width: 20%;
}

@media screen and (max-width: 800px) {
  .Chat-container {
    width: 95%;
  }
}
